body {
    margin: 0;
    background: #f4f6f6;
    font-family: 'Tahoma', sans-serif;
}

.topbar {
    display: flex;
    justify-content: space-between;
    background: #0c8a48;
    color: white;
    padding: 15px;
    font-size: 20px;
}

.hero-box {
    background: white;
    margin: 15px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.05);
    text-align: center;
}

.hero-box p {
    color: #555;
}

.main-btn {
    background: #0c8a48;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}

.secondary-btn {
    background: #dfeee6;
    color: #0c8a48;
    border: 1px solid #0c8a48;
    padding: 12px 20px;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}

.services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 20px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid #eee;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
}

.popup {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-box {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
}
