body {
    background:#f4f4f4;
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin-bottom: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
}

.card {
    background:white;
    padding:20px;
    border-radius:10px;
    font-size:22px;
    text-decoration:none;
    color:black;
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
}
#chatBtn {
    position: fixed;
    bottom: 30px;
    left: 30px;
    padding: 15px 20px;
    border-radius: 50px;
    border: none;
    background: #007bff;
    color: white;
    font-size: 18px;
}
